{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ form(authForm) }}
    <br>
    <span id="pageContents">{{ content }}</span>
{% endblock %}
